{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="events/fontawesome-free-5.15.1-web/css/all.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'events/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'events/fontawesome-free-5.15.1-web/css/all.css' %}"
    />
    <title>évènements</title>
  </head>

  <body>
    <section id="nav">
      <div class="logo-wrapper">
        <div class="logo"></div>
      </div>
      <div class="nav-item-wrapper">
        <ul>
          <li>
            <div class="icon">
              <i class="far fa-calendar-alt"></i>
            </div>
            <a href="#">
              <p>Les évènements</p>
            </a>
          </li>
          <li>
            <div class="icon">
              <i class="far fa-calendar-plus"></i>
            </div>
            <a href="#">
              <p>Créer un évènement</p>
            </a>
          </li>
          <li>
            <div class="icon">
              <i class="far fa-calendar-check"></i>
            </div>
            <a href="#">
              <p>Mes participations</p>
            </a>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-sign-out-alt"></i>
            </div>
            <a href="#">
              <p>Déconnexion</p>
            </a>
          </li>
        </ul>
      </div>
    </section>

    {% block events_list %} {% endblock events_list %}

    <div class="hamburger-menu" onclick="handleMenu()">
      <i class="fas fa-bars"></i>
    </div>

    <script>
      function handleMenu() {
        var x = document.querySelector("#nav");
        const style = getComputedStyle(x);
        if (style.display === "none") {
          x.style.display = "flex";
          x.style.position = "absolute";
          x.style.width = "300px";
          x.style.boxShadow = "0px 0px 33px rgba(0, 0, 0, 0.15)";
        } else {
          x.style.display = "none";
        }
      }

      function backToNormal() {
        var x = document.querySelector("#nav");
        var w = window.innerWidth;
        if (w > 1250) {
          x.style.display = "flex";
          x.style.position = "static";
          x.style.boxShadow = "none";
        } else {
          x.style.display = "none";
        }
      }

      window.onresize = backToNormal;
    </script>
  </body>
</html>
