{% extends 'events/events_list.html' %} {% block details %}
<section class="details">
  <div>
    <div class="header">
      <div class="profile-picture"></div>
      <div>
        <h2>Alexandre LAM</h2>
        <p>adhérant</p>
      </div>
    </div>
    <div class="content">
      <div class="content-wrapper">
        <div class="img"></div>
        <div class="small">
          <div class="icon">
            <i class="far fa-user-circle"></i>
          </div>
          <p>17 personnes participent</p>
        </div>
        <div class="text">
          <h1>Discussion avec un nutritionniste</h1>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste.
          </p>
        </div>
        <div class="call-to-action">
          <a href="#"><button>Je participe</button></a>
          <div class="sub-text">
            <p><strong>8 octobre, 2020</strong></p>
            <p>jeudi à 19h30</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock details %}
