{% extends 'events/base.html' %} {% block events_list %}
<section class="events-list">
  <div class="header">
    <div class="text">
      <h1>Évènements</h1>
      <p>5 octobre 2020</p>
    </div>
    <a class="icon" href="#">
      <button>
        <i class="fas fa-plus"></i>
      </button>
    </a>
  </div>
  <div class="scroll-list-wrapper">
    <ul>
      <li>
        <div class="img">
          <div class="date">
            <p>OCT</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="text">
          <h2>Discussion avec un nutritionniste</h2>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste
          </p>
        </div>
      </li>
      <li>
        <div class="img">
          <div class="date">
            <p>OCT</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="text">
          <h2>Discussion avec un nutritionniste</h2>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste
          </p>
        </div>
      </li>
      <li>
        <div class="img">
          <div class="date">
            <p>OCT</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="text">
          <h2>Discussion avec un nutritionniste</h2>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste
          </p>
        </div>
      </li>
      <li>
        <div class="img">
          <div class="date">
            <p>OCT</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="text">
          <h2>Discussion avec un nutritionniste</h2>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste
          </p>
        </div>
      </li>
      <li>
        <div class="img">
          <div class="date">
            <p>OCT</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="text">
          <h2>Discussion avec un nutritionniste</h2>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste
          </p>
        </div>
      </li>
      <li>
        <div class="img">
          <div class="date">
            <p>OCT</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="text">
          <h2>Discussion avec un nutritionniste</h2>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste
          </p>
        </div>
      </li>
      <li>
        <div class="img">
          <div class="date">
            <p>OCT</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="text">
          <h2>Discussion avec un nutritionniste</h2>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste
          </p>
        </div>
      </li>
      <li>
        <div class="img">
          <div class="date">
            <p>OCT</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="text">
          <h2>Discussion avec un nutritionniste</h2>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste
          </p>
        </div>
      </li>
      <li>
        <div class="img">
          <div class="date">
            <p>OCT</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="text">
          <h2>Discussion avec un nutritionniste</h2>
          <p>
            Rencontre et discussion avec le Docteur Jérôme Bernard Pellet
            Médecin nutritionniste
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

{% block details %} {% endblock details %} {% endblock events_list %}
