fontawesome*/

media/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py

# pyenv
.python-version

# virtualenv
.venv
venv/
ENV/
.vscode
# mypy
.mypy_cache/

.DS_Store
*.pyc
*.db
*.pid

