version: "3.8"

services:
  pgdb:
    image: postgres
    container_name: pgdb
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data/
    networks:
      - local
  web:
    build: ./django
    container_name: django
    ports:
      - "8000:8000"
    depends_on:
      - pgdb
    volumes:
      - "./django:/code"
    networks:
      - local

  database:
    image: "postgres:12"
    env_file: .env
    restart: always
    volumes:
      - "odoo-pg-data:/var/lib/postgresql/data"
    networks:
      - local

  app:
    image: "registry.gitlab.com/lgds/foodcoops:9.0-cooperatic-2"
    env_file: .env
    restart: always
    ports:
      - "8069:8069"
    links:
      - "database:database"
    volumes:
      - "odoo-shared-data:/home/app/.local/share/Odoo"
    networks:
      - local

volumes:
  code:
  pgdata:
  odoo-shared-data:
  odoo-pg-data:

networks:
    local:
        driver: bridge 
