html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;

  --unselected: #a2a9c8;
  --highlight: #5fcf8c;
  --hover-highlight: #4eb276;
  --greyBackground: #f7f7f7;
  --greenShadow: 0px 4px 8px 1px rgba(95, 207, 140, 0.35);
  --menuShadow: 0px 0px 33px rgba(0, 0, 0, 0.15);
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  outline: none;
  border: none;
  transition-duration: 0.4s;
}

body {
  height: 100vh;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--unselected);
  border-radius: 10px;
}

/*************************************/

/*************************************/
/*         NAV Section               */
/*************************************/

#nav {
  width: clamp(200px, 20%, 400px);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 17px;
}

#nav .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

#nav .logo-wrapper .logo {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 65px;
}

#nav .nav-item-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#nav .nav-item-wrapper ul {
  display: flex;
  flex-flow: column;
}

#nav .nav-item-wrapper li {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: var(--unselected);
  transition-duration: 0.4s;
}

#nav .nav-item-wrapper li:first-child {
  color: var(--highlight);
}

#nav .nav-item-wrapper li:first-child .icon {
  width: 25px;
  height: 25px;
  color: white;
  background-color: var(--highlight);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: var(--greenShadow);
}

#nav .nav-item-wrapper li:last-child {
  margin-top: auto;
}

#nav .nav-item-wrapper li:hover {
  filter: brightness(0.85);
}

#nav .nav-item-wrapper li p {
  margin-left: 7px;
}

/*************************************/

/*************************************/
/*      EVENT list Section           */
/*************************************/

.events-list {
  width: clamp(280px, 40%, 600px);
  background-color: var(--greyBackground);
  margin-top: 36px;
  border-radius: 17px 17px 0px 0px;
  padding: 90px 50px 0 50px;
  display: flex;
  flex-direction: column;
}

.events-list .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events-list .header h1 {
  font-size: 2.125rem;
  font-weight: 700;
}

.events-list .header p {
  color: var(--highlight);
}

.events-list .header button {
  width: 48px;
  height: 60px;
  background-color: var(--highlight);
  box-shadow: var(--greenShadow);
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-list .header button:hover {
  background-color: var(--hover-highlight);
  cursor: pointer;
}

.events-list .scroll-list-wrapper {
  margin-top: 50px;
  flex-grow: 1;
  overflow: hidden;
}

.events-list .scroll-list-wrapper:hover {
  overflow-y: scroll;
}

.events-list .scroll-list-wrapper ul {
  list-style: none;
}

.events-list .scroll-list-wrapper li {
  display: flex;
  margin-bottom: 28px;
}

.events-list .scroll-list-wrapper .img {
  min-width: 100px;
  min-height: 90px;
  background-repeat: none;
  background-size: cover;
  border-radius: 17px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-list .scroll-list-wrapper .img .date {
  text-align: center;
  color: white;
}

.events-list .scroll-list-wrapper .img .date p {
  font-size: 1.25rem;
  font-weight: 400;
}

.events-list .scroll-list-wrapper .img .date h2 {
  font-size: 2.375rem;
  font-weight: 700;
}

.events-list .scroll-list-wrapper .text {
  width: auto;
}

.events-list .scroll-list-wrapper .text h2 {
  font-weight: 700;
  font-size: 1.0625rem;
}

.events-list .scroll-list-wrapper .text .color {
  color: var(--highlight);
}
.events-list .scroll-list-wrapper .text p {
  font-size: 0.8125rem;
  font-weight: 400;
  color: var(--unselected);
}
  /*************************************/

  /*************************************/
  /*      EVENT Création Section       */
  /*************************************/

  .events-creation {
    width: auto;
    background-color: var(--greyBackground);
    margin: 36px 36px 0px 36px;
    border-radius: 17px 17px 0px 0px;
    padding: 90px 50px 0 50px;
    display: flex;
    flex-direction: column;
  }

    .events-creation .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .events-creation .header h1 {
      font-size: 2.125rem;
      font-weight: 700;
    }
  
    .events-creation .header p {
      color: var(--highlight);
    }
  
    .events-creation button {
      margin-top: 10px;
      margin-bottom: 30px;
      padding:15px;
      background-color: var(--highlight);
      box-shadow: var(--greenShadow);
      border-radius: 4px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .events-creation  button:hover {
      background-color: var(--hover-highlight);
      cursor: pointer;
    }
  
    .events-creation .scroll-list-wrapper {
      margin-top: 30px;
      flex-grow: 1;
      overflow: hidden;
    }
  
    .events-creation .scroll-list-wrapper:hover {
      overflow-y: scroll;
    }
  
    .events-creation .scroll-list-wrapper p{
      margin: 20px 10px 5px 10px;
    }
  
    .events-creation .scroll-list-wrapper input {
      padding-left: 25px;
      font-size: 14px;
      margin-top: 1px;
      border: 2px solid #b7b7b7;
      border-radius: 8px;
      color: var(--unselected);
      width: clamp(0px,90%,420px);
      height: 40px;
    }
  
    .events-creation .scroll-list-wrapper ul {
      list-style: none;
    }
  
    .events-creation .scroll-list-wrapper li {
      display: flex;
      margin-bottom: 28px;
    }
  
    .events-creation .scroll-list-wrapper .img {
      min-width: 100px;
      min-height: 90px;
      background-repeat: none;
      background-size: cover;
      border-radius: 17px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .events-creation .scroll-list-wrapper .img .date {
      text-align: center;
      color: white;
    }
  
    .events-creation .scroll-list-wrapper .img .date p {
      font-size: 1.25rem;
      font-weight: 400;
    }
  
    .events-creation .scroll-list-wrapper .img .date h2 {
      font-size: 2.375rem;
      font-weight: 700;
    }
  
    .events-creation .scroll-list-wrapper .text {
      width: auto;
    }
  
    .events-creation .scroll-list-wrapper .text h2 {
      font-weight: 700;
      font-size: 1.0625rem;
    }
  
    .events-creation .scroll-list-wrapper .text .color {
      color: var(--highlight);
    }
    .events-creation .scroll-list-wrapper .text p {
      font-size: 0.8125rem;
      font-weight: 400;
      color: var(--unselected);
    }
  
/*************************************/

/*************************************/
/*         DETAILS Section           */
/*************************************/

.details {
  flex-grow: 1;
  padding: 120px 70px 50px 70px;
  display: flex;
  justify-content: center;
}

.details .header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.details .header h2 {
  font-size: 1.0625rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.details .header p {
  font-size: 1.0625rem;
  font-weight: 500;
  color: var(--highlight);
}

.details .header .profile-picture {
  background-repeat: none;
  background-size: cover;
  background-position: bottom;
  border-radius: 8px;
  width: 50px;
  height: 57px;
  margin-left: 35px;
}

.details .content {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details .content .img {
  background-size: cover;
  width: 500px;
  height: 226px;
  border-radius: 17px;
  margin: auto;
}

.details .content .small {
  display: flex;
  color: var(--unselected);
  font-size: 0.875rem;
  font-weight: 400;
  margin: auto;
  margin-top: 24px;
}

.details .content .small p {
  margin-left: 8px;
}

.details .content .text {
  margin: auto;
  max-width: 500px;
}

.details .content .text h1 {
  font-size: 1.5rem;
  margin-top: 24px;
}

.details .content .text p {
  font-weight: 400;
  margin-top: 14px;
}

.details .call-to-action {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.details .call-to-action button {
  padding: 17px 30px;
  border: none;
  background-color: var(--highlight);
  font-family: "Inter";
  font-weight: 700;
  color: white;
  font-size: 0.875rem;
  border-radius: 8px;
  box-shadow: var(--greenShadow);
}

.details .call-to-action button:hover {
  background-color: var(--hover-highlight);
  cursor: pointer;
}

.details .call-to-action .sub-text p {
  font-size: 0.875rem;
  line-height: 22px;
}

/*************************************/

/*************************************/
/*         HAMBURGER MENU            */
/*************************************/

.hamburger-menu {
  position: absolute;
  top: 20px;
  left: 27px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--highlight);
  box-shadow: var(--greenShadow);
  display: none;
  color: white;
}

.hamburger-menu:hover {
  background-color: var(--hover-highlight);
}

/*************************************/

/*************************************/
/*         BREAKPOINTS               */
/*************************************/

@media only screen and (max-height: 800px) {
  *,
  *:before,
  *:after {
    font-size: 14px;
  }

  .events-list {
    padding: 40px 50px 0 50px;
  }

  #nav .logo-wrapper {
    height: 200px;
  }

  .details {
    flex-grow: 1;
    padding: 70px 70px 50px 70px;
  }

  .details .content .img {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  #nav {
    display: none;
  }

  .events-list {
    margin-left: 50px;
    width: 500px;
  }

  .details {
    padding-left: 40px;
    padding-right: 40px;
  }

  .details .content,
  .details .content-wrapper,
  .details .content .img,
  .details .header {
    width: 350px;
  }

  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 850px) {
  body {
    flex-direction: column;
  }

  .events-list {
    width: auto;
    height: 600px;
    border-radius: 17px;
    margin: 90px 30px 0px 30px;
    padding: 30px 10px 10px 10px;
  }
}
