{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}" />
  <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'events/favicon.ico' %}" />
  <title>événements</title>
</head>

<body>
  <section id="nav">
    <div class="logo-wrapper">
      <div class="logo"></div>
    </div>
    <div class="nav-item-wrapper">
      <ul>
        <li class="{% if page == 'home' %} selected {% endif %}">
          <div class="icon">
            <i class="far fa-calendar-alt"></i>
          </div>
          <a href="{% url 'home' %}">
            <p>Les événements</p>
          </a>
        </li>
        <li class="{% if page == 'create_events' %} selected {% endif %}">
          <div class="icon">
            <i class="far fa-calendar-plus"></i>
          </div>
          <a href="{% url 'create_events' %}">
            <p>Créer un évènement</p>
          </a>
        </li>
        <li class="{% if page == 'participations' %} selected {% endif %}">
          <div class="icon">
            <i class="far fa-calendar-check"></i>
          </div>
          <a href="{% url 'participations' %}">
            <p>Mes participations</p>
          </a>
        </li>
        {% if current_user.isAdmin %}
        <li class="{% if page == 'admin' %} selected {% endif %}">
          <div class="icon">
            <i class="fas fa-toolbox"></i>
          </div>
          <a href="{% url 'admin_page' %}">
            <p>Admin</p>
          </a>
        </li>
        {% endif %}
        <li>
          <div class="icon">
            <i class="fas fa-sign-out-alt"></i>
          </div>
          <a href="{% url 'logout' %}">
            <p>Déconnexion</p>
          </a>
        </li>
      </ul>
    </div>
  </section>

  {% block events_list %} {% endblock events_list %}

  <div class="hamburger-menu" onclick="handleMenu()">
    <i class="fas fa-bars"></i>
  </div>

  <script>
    function handleMenu() {
      var x = document.querySelector("#nav");
      const style = getComputedStyle(x);
      if (style.display === "none") {
        x.style.display = "flex";
        x.style.position = "absolute";
        x.style.width = "300px";
        x.style.boxShadow = "0px 0px 33px rgba(0, 0, 0, 0.15)";
      } else {
        x.style.display = "none";
      }
    }

    function backToNormal() {
      var x = document.querySelector("#nav");
      var w = window.innerWidth;
      if (w > 1250) {
        x.style.display = "flex";
        x.style.position = "static";
        x.style.boxShadow = "none";
      } else {
        x.style.display = "none";
      }
    }

    window.onresize = backToNormal;
  </script>
</body>

</html>