{% extends 'events/base.html' %} {% block events_list %}
<section class="events-list">
  <div class="header">
    <div class="text">
      <h1>Événements</h1>
      <p>5 octobre 2020</p>
    </div>
    <a class="icon" href="#">
      <button>
        <i class="fas fa-plus"></i>
      </button>
    </a>
  </div>
  <div class="scroll-list-wrapper">
    <ul>
      {% for event in eventsList %}
      <a href="{{event.id}}">
        <li>
          <div class="img" style="background-image: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.35),
                  rgba(0, 0, 0, 0.35)
                ), url('{{ event.icon.url }}')">
            <div class="date">
              <p>{{event.date_begin|date:"M"}}</p>
              <h2>{{event.date_begin|date:"d"}}</h2>
            </div>
          </div>
          <div class="text">
            <h2>{{event.title}}</h2>
            <p>{{event.long_description}}</p>
          </div>
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>
</section>

{% block details %} {% endblock details %} {% endblock events_list %}