{% extends 'events/base.html' %} {% block events_list %}
<section class="events-list">
  <div class="header">
    <div class="text">
      <h1>Événements</h1>
      <p id="date"></p>
    </div>
    <a class="icon" href="{% url 'create_events' %}">
      <button>
        <i class="fas fa-plus"></i>
      </button>
    </a>
  </div>
  <div class="scroll-list-wrapper">
    <ul>
      {% for event in eventsList %}
      <a href="{{event.id}}">
        <li>
          <div class="img" style="background-image: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.35),
                  rgba(0, 0, 0, 0.35)
                ), url('{{ event.icon.url }}')">
            <div class="date">
              <p>{{event.date_begin|date:"M"}}</p>
              <h2>{{event.date_begin|date:"d"}}</h2>
            </div>
          </div>
          <div class="text">
            {% if event.id == selected.id %}
            <h2 class="color">{{event.title}}</h2>
            {% else %}
            <h2>{{event.title}}</h2>
            {% endif %}
            <p>{{event.long_description}}</p>
            {% if displayStatus %}
            <div class="tag-wrapper">
              {% if event.status == "ECV" %}
              <div class="tag orange">
                <p>En cours de validation</p>
              </div>
              {%elif event.status == "VAL"%}
              <div class="tag green">
                <p>Validé !</p>
              </div>
              {% else %}
              <div class="tag blue">
                <p>Terminé !</p>
              </div>
              {% endif %}
            </div>
            {% endif %}


          </div>
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>

<script>
function month_int_to_litteral(month_number){
    const month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembr'];
    return month[month_number]
}

function formatDate(){
    var today = new Date();
    day = today.getDate();
    console.log(today);
    month = today.getMonth();
    year = today.getFullYear();
 
    today = day + " " + month_int_to_litteral(month) + " " + year;
    return today;
}


var date_p = document.getElementById("date");
date_p.innerHTML = formatDate();

</script>

</section>


{% block details %} {% endblock details %} {% endblock events_list %}
